/* Roboto */
@font-face {
    font-family: Roboto;
    font-weight: 900;
    font-display: swap;
    src: local("Roboto"),
    url("../assets/fonts/Roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: Roboto;
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    src: local("Roboto"),
    url("../assets/fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-display: swap;
    src: local("Roboto"),
    url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: local("Roboto"),
    url("../assets/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-display: swap;
    src: local("Roboto"),
    url("../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    src: local("Roboto"),
    url("../assets/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto"),
    url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: local("Roboto"),
    url("../assets/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
    font-family: Roboto;
    font-weight: 300;
    font-display: swap;
    src: local("Roboto"),
    url("../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: Roboto;
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src: local("Roboto"),
    url("../assets/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: Roboto;
    font-weight: 100;
    font-display: swap;
    src: local("Roboto"),
    url("../assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: Roboto;
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    src: local("Roboto"),
    url("../assets/fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
}

/* Martel Sans */
@font-face {
    font-family: MartelSans;
    font-weight: 900;
    font-display: swap;
    src: local("MartelSans"),
    url("../assets/fonts/MartelSans/MartelSans-Black.ttf") format("truetype");
}

@font-face {
    font-family: MartelSans;
    font-weight: 800;
    font-display: swap;
    src: local("MartelSans"),
    url("../assets/fonts/MartelSans/MartelSans-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: MartelSans;
    font-weight: 800;
    font-display: swap;
    src: local("MartelSans"),
    url("../assets/fonts/MartelSans/MartelSans-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: MartelSans;
    font-weight: 700;
    font-display: swap;
    src: local("MartelSans"),
    url("../assets/fonts/MartelSans/MartelSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: MartelSans;
    font-weight: 600;
    font-display: swap;
    src: local("MartelSans"),
    url("../assets/fonts/MartelSans/MartelSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: MartelSans;
    font-weight: 400;
    font-display: swap;
    src: local("MartelSans"),
    url("../assets/fonts/MartelSans/MartelSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: MartelSans;
    font-weight: 300;
    font-display: swap;
    src: local("MartelSans"),
    url("../assets/fonts/MartelSans/MartelSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: MartelSans;
    font-weight: 200;
    font-display: swap;
    src: local("MartelSans"),
    url("../assets/fonts/MartelSans/MartelSans-ExtraLight.ttf") format("truetype");
}
